<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <!-- NAVBAR -->
        
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
            <img src=".templates/254.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RPI ZERO CONTROL BOARD
            </a>
        </nav>
        
    <body>
        <!--VIDEO FROM DEVICE-->
        <!---<div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="http://localhost:8001/" width="700" height="600" title="WEBCAM"></iframe>
        </div> -->
        <img src="{{ url_for('video_feed') }}"> 
        
        <!-- System carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="padding-top: 50px;">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>CPU: {{cpu}} TEMP: {{temp}}</h1>
            </div>
            <div class="carousel-item">
                <h1>MEMORY: {{memory}}</h1>
            </div>
            <div class="carousel-item">
                <h1>DISK: {{disk}}</h1>
            </div>
            <div class="carousel-item">
                <h1>IP AND MAC: {{ip}}</h1>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>

     </div>
</body>

</html>